    <!--footer-->
    <div id="shopify-section-footer" class="shopify-section">


        <footer class="footer footerimage lazyload"
                data-bg="//cdn.shopify.com/s/files/1/0285/6022/8445/files/footer-bg.png?v=1572936346">
            <div class="footer-inner">
          
              <div class="footer-container">
                <div class="page-width">
                  <div class="row">
                    
                    <div id="contact-info-container1" class="contact-info-inner col-lg-4 col-md-12">
                        <div id="contact-info-container" class="contact-info footer-dropdown">
                          
                          <span class="h3 footer-block__heading hidden-lg-down">CONTACT INFORMATION</span>
                          
                           <div class="contact-info-inner">
                            <ul class="site-footer__linklist">
                              
                                <li class="site-footer__linklist-item shop-address col-lg-12 col-md-4 col-sm-4 col-xs-12">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                                  <div class="content">
                                    <p>4005, Silver business point</p>
                                    <p>India</p>
                                  </div>
                                </li>
                              
                              
                              <li class="site-footer__linklist-item shop-contact col-lg-12 col-md-4 col-sm-4 col-xs-12">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <div class="content">
                                  <a href="index.html">
                                     +00 900 123456789
                                  </a>
                                </div>
                              </li>
                                
                              
                                <li class="site-footer__linklist-item shop-email col-lg-12 col-md-4 col-sm-4 col-xs-12">
                                  <i class="fa fa-envelope" aria-hidden="true"></i>
                                  <div class="content">
                                    <a href="mailto:info@gmail.com">
                                    info@gmail.com
                                    </a>  
                                  </div>
                                </li>
                              
                            </ul>
                          </div>
                        </div>
                    </div>
                    
                    
                    <div class="follow-us col-lg-4 col-md-12">
                      <div id="social-icon-container" class="social-icon-inner footer-dropdown">
                        <div class="social-media-blocks">
                          <span class="h3 footer-block__heading hidden-lg-down">FOLLOW US</span>
                          <span class="sub-title hidden-lg-down">Keep Up To Date with Our latest offers</span>
        
                           
        <div class="footer-social">
          <ul class="footer__list-social list-unstyled list-social" role="list"><li class="list-social__item facebook">
              <a href="index.html" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <span class="icon__-text">Facebook</span>
              </a>
            </li><li class="list-social__item instagram">
              <a href="index.html" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span class="icon__-text">Instagram</span>
              </a>
            </li><li class="list-social__item tiktok">
              <a href="index.html" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
              <symbol id="tiktok" viewBox="0 0 18 18">
                <path d="M8.02 0H11s-.17 3.82 4.13 4.1v2.95s-2.3.14-4.13-1.26l.03 6.1a5.52 5.52 0 11-5.51-5.52h.77V9.4a2.5 2.5 0 101.76 2.4L8.02 0z" fill="currentColor"></path>
              </symbol> 
          </svg>
          <svg class="icon " viewBox="0 0 50 50"><use xlink:href="#tiktok" x="6%" y="0%"></use></svg>
        
        
        
        
                <span class="icon__-text">TikTok</span>
              </a>
            </li><li class="list-social__item snapchat">
              <a href="index.html" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                <i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                <span class="icon__-text">Snapchat</span>
              </a>
            </li><li class="list-social__item vimeo">
              <a href="index.html" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                   <i class="fa fa-vimeo" aria-hidden="true"></i>
                <span class="icon__-text">Vimeo</span>
              </a>
            </li></ul>
        </div>
                        </div>
                      </div>
                    </div>
                    
                    
                    <div class="bottom-link-list account-info-inner footer-block col-lg-4 col-md-12">
                      <div id="products-info-container" class="account-info footer-dropdown">
                        
                          <span class="h3 footer-block__heading hidden-lg-down">YOUR ACCOUNT</span>
                        
        
                          <ul class="site-footer__linklist footer-block__details-content  list-unstyled">
                            
                              <li class="site-footer__linklist-item">
                                <a href="account/login4236.html" class="link link--text list-menu__item list-menu__item--link">
                                    My Account
                                  </a>
                              </li>
                            
                              <li class="site-footer__linklist-item">
                                <a href="account/login4236.html" class="link link--text list-menu__item list-menu__item--link">
                                    My Wishlist
                                  </a>
                              </li>
                            
                              <li class="site-footer__linklist-item">
                                <a href="pages/contact-us.html" class="link link--text list-menu__item list-menu__item--link">
                                    Contact
                                  </a>
                              </li>
                            
                              <li class="site-footer__linklist-item">
                                <a href="pages/about-us.html" class="link link--text list-menu__item list-menu__item--link">
                                    About Us
                                  </a>
                              </li>
                            
                              <li class="site-footer__linklist-item">
                                <a href="search.html" class="link link--text list-menu__item list-menu__item--link">
                                    Delivery
                                  </a>
                              </li>
                            
                          </ul>
                        
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
        </footer>
        
        
        
        
        </div>
          