<div class="wrapper-nav hidden-lg-down">
    <div class="navfullwidth">
      <div class="page-width">
        <div id="shopify-section-Ishi_megamenu" class="shopify-section"><div data-section-id="Ishi_megamenu" data-section-type="megamenu-header">
  <div id="_desktop_top_menu" class="menu js-top-menu hidden-sm-down" role="navigation">
    

</div>
</div>







</div>
      </div>
    </div> 
  </div>









<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">

      
      
          
    <div class="normal_main_content page-width">
      
      <h1 class="page-title center">
        Conseils
      </h1>

      
      <section id="shopify-section-template--14154848239709__main" class="shopify-section"><div class="faq-block">
<div class="page-width">
<div class="accordion">









<!--begin-->
<div *ngFor="let p of posts; let index = index">

<div   class="ishi-collapse in summary rotate ishi-collapsed " [attr.data-href]="'#' + p.id"   data-toggle="collapse" aria-expanded="false">
  <div class="summary__title">
    <h2 class="h4 accordion__title faq-title">
      
      <span class="category-count">{{index+1}}.</span>
      
     {{p.title}}
    </h2>
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
<symbol id="caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
</symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>




  </div>
</div>
<div  id={{p.id}} class="ishi-collapse " >
  
  <div class="accordion__content rte">
    <p>{{p.content}}</p>

  </div>
  
</div>

</div>

<!--end-->












</div>



</div>
</div>


</section>
    </div>
    
</main>
