 
    

    
    
        <div class="wrapper-nav hidden-lg-down">
            <div class="navfullwidth">
              <div class="page-width">
                <div id="shopify-section-Ishi_megamenu" class="shopify-section"><div data-section-id="Ishi_megamenu" data-section-type="megamenu-header">
          <div id="_desktop_top_menu" class="menu js-top-menu hidden-sm-down" role="navigation">
            
       
      </div>
      </div>
      
      
       
      
      
      
      
      </div>
              </div>
            </div> 
          </div>
        
    
    
    
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      
      
          
          <div class="normal_main_content page-width">
            
            <section id="shopify-section-template--14154848370781__main" class="shopify-section product-section spaced-section">




                <div class="row grid">
    <div class="grid__item product__media-wrapper col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="slider-mobile-gutter product--media--sticky">
        <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-template--14154848370781__main">
          Skip to product information
        </a>
        <ul id="main-media-container" class="single-product zoom"><li class="product__media-item grid__item" data-media-id="template--14154848370781__main-21289775890525">
              



<noscript>
    <div class="product__media media" style="padding-top: 129.7016861%;">
      <img
        srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_288x.jpg?v=1633770324 288w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_576x.jpg?v=1633770324 576w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_550x.jpg?v=1633770324 550w,
                "
        data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5264a.jpg?v=1633770324"
        class="lazyload"
        sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        alt="Butter Loremou"
      >
    </div>
</noscript>




<div class="product__div product__div--image no-js-hidden" data-modal="#ProductModal-template--14154848370781__main">
    <div class="product__media media" style="padding-top: 129.7016861%;">
    <img
      srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_288x.jpg?v=1633770324 288w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_576x.jpg?v=1633770324 576w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_550x.jpg?v=1633770324 550w,
              "
      class="lazyload"
      data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5264a.jpg?v=1633770324"
      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
      loading="lazy"
      alt="Butter Loremou"
      data-zoom-image="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5.jpg?v=1633770324 "
    >
  </div>
</div>
            </li>
        </ul>
        <ul class="product__media-list grid owl-carousel" role="list"><li class="product__media-item grid__item" data-media-id="template--14154848370781__main-21289775890525" data-media-type="image">
            

<noscript>
    <div class="product__media media" style="padding-top: 129.7016861%;">
      <img
        srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_288x.jpg?v=1633770324 288w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_576x.jpg?v=1633770324 576w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_550x.jpg?v=1633770324 550w,
                "
        data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5264a.jpg?v=1633770324"
        class="lazyload"
        sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        alt="Butter Loremou"
      >
    </div>
</noscript>

<div class="product__div product__div--image no-js-hidden" data-modal="#ProductModal-template--14154848370781__main"><div class="product__media media" style="padding-top: 129.7016861%;">
    <img
      srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_288x.jpg?v=1633770324 288w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_576x.jpg?v=1633770324 576w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_550x.jpg?v=1633770324 550w,
              "
      class="lazyload"
      data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5264a.jpg?v=1633770324"
      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
      loading="lazy"
      alt="Butter Loremou"
      data-zoom-image="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5.jpg?v=1633770324 "
    >
  </div>
</div>
          </li>
          <li class="product__media-item grid__item" data-media-id="template--14154848370781__main-21289776250973" data-media-type="image">
            

<noscript>
    <div class="product__media media" style="padding-top: 129.7016861%;">
      <img
        srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e_288x.jpg?v=1633770334 288w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e_576x.jpg?v=1633770334 576w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e_550x.jpg?v=1633770334 550w,
                "
        data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e6c51.jpg?v=1633770334"
        class="lazyload"
        sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        alt="Butter Loremou"
      >
    </div>
</noscript>

<div class="product__div product__div--image no-js-hidden" data-modal="#ProductModal-template--14154848370781__main"><div class="product__media media" style="padding-top: 129.7016861%;">
    <img
      srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e_288x.jpg?v=1633770334 288w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e_576x.jpg?v=1633770334 576w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e_550x.jpg?v=1633770334 550w,
              "
      class="lazyload"
      data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e6c51.jpg?v=1633770334"
      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
      loading="lazy"
      alt="Butter Loremou"
      data-zoom-image="//cdn.shopify.com/s/files/1/0285/6022/8445/products/3_5b19eaf2-110b-442f-89ed-26128123280e.jpg?v=1633770334 "
    >
  </div>
</div>
          </li>
          <li class="product__media-item grid__item" data-media-id="template--14154848370781__main-21289776283741" data-media-type="image">
            

<noscript>
    <div class="product__media media" style="padding-top: 129.7016861%;">
      <img
        srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a580_288x.jpg?v=1633770334 288w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a580_576x.jpg?v=1633770334 576w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a580_550x.jpg?v=1633770334 550w,
                "
        data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a5806c51.jpg?v=1633770334"
        class="lazyload"
        sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        alt="Butter Loremou"
      >
    </div>
</noscript>

<div class="product__div product__div--image no-js-hidden" data-modal="#ProductModal-template--14154848370781__main"><div class="product__media media" style="padding-top: 129.7016861%;">
    <img
      srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a580_288x.jpg?v=1633770334 288w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a580_576x.jpg?v=1633770334 576w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a580_550x.jpg?v=1633770334 550w,
              "
      class="lazyload"
      data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a5806c51.jpg?v=1633770334"
      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
      loading="lazy"
      alt="Butter Loremou"
      data-zoom-image="//cdn.shopify.com/s/files/1/0285/6022/8445/products/4_78823c02-0e65-429b-a5dc-f9e54954a580.jpg?v=1633770334 "
    >
  </div>
</div>
          </li>
          <li class="product__media-item grid__item" data-media-id="template--14154848370781__main-21289776316509" data-media-type="image">
            

<noscript>
    <div class="product__media media" style="padding-top: 129.7016861%;">
      <img
        srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d9_288x.jpg?v=1633770335 288w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d9_576x.jpg?v=1633770335 576w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d9_550x.jpg?v=1633770335 550w,
                "
        data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d944bd.jpg?v=1633770335"
        class="lazyload"
        sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        alt="Butter Loremou"
      >
    </div>
</noscript>

<div class="product__div product__div--image no-js-hidden" data-modal="#ProductModal-template--14154848370781__main"><div class="product__media media" style="padding-top: 129.7016861%;">
    <img
      srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d9_288x.jpg?v=1633770335 288w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d9_576x.jpg?v=1633770335 576w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d9_550x.jpg?v=1633770335 550w,
              "
      class="lazyload"
      data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d944bd.jpg?v=1633770335"
      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
      loading="lazy"
      alt="Butter Loremou"
      data-zoom-image="//cdn.shopify.com/s/files/1/0285/6022/8445/products/5_f6b2d6f3-b6a8-4722-91a4-da535addc3d9.jpg?v=1633770335 "
    >
  </div>
</div>
          </li>
          <li class="product__media-item grid__item" data-media-id="template--14154848370781__main-21289776349277" data-media-type="image">
            

<noscript>
    <div class="product__media media" style="padding-top: 129.7016861%;">
      <img
        srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/6_288x.jpg?v=1633770334 288w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/6_576x.jpg?v=1633770334 576w,
                //cdn.shopify.com/s/files/1/0285/6022/8445/products/6_550x.jpg?v=1633770334 550w,
                "
        data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/66c51.jpg?v=1633770334"
        class="lazyload"
        sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        alt="Butter Loremou"
      >
    </div>
</noscript>

<div class="product__div product__div--image no-js-hidden" data-modal="#ProductModal-template--14154848370781__main"><div class="product__media media" style="padding-top: 129.7016861%;">
    <img
      srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/6_288x.jpg?v=1633770334 288w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/6_576x.jpg?v=1633770334 576w,
              //cdn.shopify.com/s/files/1/0285/6022/8445/products/6_550x.jpg?v=1633770334 550w,
              "
      class="lazyload"
      data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/products/66c51.jpg?v=1633770334"
      sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
      loading="lazy"
      alt="Butter Loremou"
      data-zoom-image="//cdn.shopify.com/s/files/1/0285/6022/8445/products/6.jpg?v=1633770334 "
    >
  </div>
</div>
          </li>
        </ul>
      </div>
    </div>

 



    <div class="product__info-wrapper grid__item col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="ProductInfo-template--14154848370781__main" class="product__info-container"><h1 class="product__title" style="margin-bottom: 10px;">
                Butter Loremou
              </h1><div class="review" style="margin-bottom: 5px;">
                <span class="shopify-product-reviews-badge" data-id="4348938584157"></span>
                
                <a href="javascript:void(0);" class="write_comment">Write Review<i class="fa fa-pencil" aria-hidden="true"></i></a>
              </div><div class="product-price" style="margin-bottom: 5px;">
                <div class="no-js-hidden" id="price-template--14154848370781__main">
    <div class="price price--large">
    <dl><div class="price__regular">
        <dt>
          <span class="visually-hidden visually-hidden--inline">Regular price</span>
        </dt>
        <dd>
          <span class="price-item price-item--regular">
            $30.00
          </span>
        </dd>
      </div>
      <div class="price__sale">
        <dt class="price__compare">
          <span class="visually-hidden visually-hidden--inline">Regular price</span>
        </dt>
        <dd class="price__compare">
          <s class="price-item price-item--regular">
            
          </s>
        </dd>
        <dt>
          <span class="visually-hidden visually-hidden--inline">Sale price</span>
        </dt>
        <dd>
          <span class="price-item price-item--sale">
            $30.00
          </span>
        </dd>
      </div>
      <small class="unit-price caption hidden">
        <dt class="visually-hidden">Unit price</dt>
        <dd>
          <span></span>
          <span aria-hidden="true">/</span>
          <span class="visually-hidden">&nbsp;per&nbsp;</span>
          <span>
          </span>
        </dd>
      </small>
    </dl>
    </div>
    </div>
                <div><form method="post" action="https://paws-ishi.myshopify.com/cart/add" id="product-form-installment" accept-charset="UTF-8" class="installment caption-large" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="id" value="31141577818205">
                    
    </form></div>
              </div>
            
              <div class="product-information" style="margin-bottom: 10px;">
                  
                    <p itemprop="brand" class="product-single__vendor" style="margin-bottom: 5px;">Vendor : <span>pets-ishi</span></p>
                      
                  
                    <p itemprop="brand" class="product-single__vendor" style="margin-bottom: 5px;">Product Type : <span>pets</span></p>
                  
                      
              </div><div class="wishlist-sizechart" style="margin-bottom: 5px;">
                
                    <div class="add-to-wishlist">     
    <div class="show">
    <div class="default-wishbutton-butter-loremou loading"><a class="add-in-wishlist-js btn" data-href="butter-loremou"><i class="fa fa-heart"></i><span class="tooltip-label">Add to wishlist</span></a></div>
    <div class="loadding-wishbutton-butter-loremou loading btn loader-btn" style="display: none; pointer-events: none"><a class="add_to_wishlist" data-href="butter-loremou"><i class="fa fa-circle-o-notch fa-spin"></i><span class="tooltip-label">Add to wishlist</span></a></div>
    <div class="added-wishbutton-butter-loremou loading" style="display: none;"><a class="added-wishlist btn add_to_wishlist" href="../pages/wishlist.html"><i class="fa fa-heart"></i><span class="tooltip-label">View Wishlist</span></a></div>
    </div>
    </div>
                
                <div class="product-popup-modal__opener no-js-hidden size-chart" data-modal="#PopupModal-wishlist_sizechart">
                 
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
        <symbol id="sizechart" viewBox="0 0 640 512">
    <path fill="currentColor" d="M608 128H32c-17.67 0-32 14.33-32 32v192c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V160c0-17.67-14.33-32-32-32zm-16 208H48V176h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v56c0 4.42 3.58 8 8 8h16c4.42 0 8-3.58 8-8v-56h64v160z"></path>
        </symbol> 
      </svg>
      <svg class="icon" viewBox="0 0 50 50"><use xlink:href="#sizechart" x="0%" y="4%"></use></svg>
    
    
    
    
                  <div id="ProductPopup-wishlist_sizechart" class="ishi-popup-modal__button link" type="button" aria-haspopup="dialog" data-href="#PopupModal-wishlist_sizechart" data-toggle="popover" aria-expanded="false">Sizechart</div>
    </div>
                <a href="../pages/sizechart.html" class="ishi-popup-modal__button link no-js">Sizechart</a>
              </div><div class="ishi-progress-space" style="margin-bottom: 10px;"><div class="ishi-progress-content hidden" data-quantity="10">
                    <div class="quantity-value">
                      Hurry! Only
                      <div id="variant-stock" class="variant_quantity">
                        44
                      </div>
                      units left in stock!
                    </div>
                    <div id="ishi-progress-bar">
                      <span style="width: 90%;"></span>
                    </div>
                  </div>
                  
                    <span id="variant-31141577818205" data-stock="44" class="selected-variant"></span>
                  
              </div><div class="variant-space" style="margin-bottom: 10px;"><noscript>
                  <div class="product-form__input hidden">
                    <label class="form__label" for="Variants-template--14154848370781__main">Product variants</label>
                    <div class="select">
                      <select name="id" id="Variants-template--14154848370781__main" class="select__select" form="product-form"><option
                            selected="selected"
                            
                            value="31141577818205"
                          >
                            Default Title
    
                            - $30.00
                          </option></select>
                       
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
        <symbol id="caret" viewBox="0 0 10 6">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
        </symbol> 
      </svg>
      <svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>
    
    
    
    
                    </div>
                  </div>
                </noscript>
            </div><div class="product-form__input product-form__quantity" style="margin-bottom: 20px;">
                <label class="form__label" for="Quantity-template--14154848370781__main">
                  Quantity
                </label>
                <div class="quantity">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">Decrease quantity for Butter Loremou</span>
                     
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="minus" viewBox="0 0 10 2">
           <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
          </symbol>
        </svg>
        <svg class="icon" viewBox="0 0 20 20"><use xlink:href="#minus" x="0%" y="0%"></use></svg>
    
    
    
    
                  </button>
                  <input class="quantity__input" type="number" name="quantity" id="Quantity-template--14154848370781__main" min="1" value="1" form="product-form-template--14154848370781__main">
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">Increase quantity for Butter Loremou</span>
                    
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="plus" viewBox="0 0 10 10">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
          </symbol>
        </svg>
        <svg class="icon" viewBox="0 0 20 20"><use xlink:href="#plus" x="0%" y="0%"></use></svg>
    
    
    
    
                  </button>
                </div>
              </div><div class="buy-btn-space" style="margin-bottom: 20px;">
                
              <div>
                <div class="product-form"><form method="post" action="https://paws-ishi.myshopify.com/cart/add" id="product-form-template--14154848370781__main" accept-charset="UTF-8" class="form" enctype="multipart/form-data" novalidate="novalidate" data-type="add-to-cart-form"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="id" value="31141577818205">
                    <div class="product-form__buttons">
                      <button type="submit" name="add" class="product-form__submit button button--full-width">ADD TO CART
    </button><div data-shopify="payment-button" class="shopify-payment-button"><button class="shopify-payment-button__button shopify-payment-button__button--unbranded shopify-payment-button__button--hidden" disabled="disabled" aria-hidden="true">&nbsp;</button><button class="shopify-payment-button__more-options shopify-payment-button__button--hidden" disabled="disabled" aria-hidden="true">&nbsp;</button></div>
    </div></form></div>
    
             
    <div class="product__pickup-availabilities no-js-hidden" data-base-url="../index.html" data-variant-id="31141577818205" data-has-only-default-variant="true">
                  <template>
                    <div class="pickup-availability-preview">
                      
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="unavailable" viewBox="0 0 20 20">
                 <path fill="#DE3618" stroke="#fff" d="M13.94 3.94L10 7.878l-3.94-3.94A1.499 1.499 0 103.94 6.06L7.88 10l-3.94 3.94a1.499 1.499 0 102.12 2.12L10 12.12l3.94 3.94a1.497 1.497 0 002.12 0 1.499 1.499 0 000-2.12L12.122 10l3.94-3.94a1.499 1.499 0 10-2.121-2.12z"></path>
          </symbol>
        </svg>
        <svg class="icon icon-unavailable" viewBox="0 0 20 20"><use xlink:href="#unavailable" x="0%" y="0%"></use></svg>
    
    
    
    
                      <div class="pickup-availability-info">
                        <p class="caption-large">Couldn't load pickup availability</p>
                        <button class="pickup-availability-button link link--text underlined-link">Refresh</button>
                      </div>
                    
                    </div></template>
                </div>
              </div>
    
              <script src="../../cdn.shopify.com/s/files/1/0285/6022/8445/t/5/assets/pickup-availability2b11.js?v=3384203228552125197" defer="defer"></script>
              </div><div class="reassurance-space" style="margin-bottom: 20px;">
                <div class=" reassurance-block">
                  <div class="reassurance-content row">
                    <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                      
                      <div class="reassurance-img">
                        <img class=" lazyloading" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon111.png?v=1626168202" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon111.png?v=1626168202">
                      </div>
                      
                      
                      <div class="reassurance-text">
                        
                        <div class="reassurance-title">Free Delivery</div>
                         
                        
                        <div class="reassurance-desc">Lorem Ipsum dummy</div>
                        
                      </div> 
                      
                    </div>
                    <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                      
                      <div class="reassurance-img">
                        <img class=" lazyloading" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon2.png?v=1626168236" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon2.png?v=1626168236">
                      </div>
                      
                      
                      <div class="reassurance-text">
                        
                        <div class="reassurance-title">Big Savings</div>
                        
                        
                        <div class="reassurance-desc">Lorem Ipsum dummy</div>
                        
                      </div> 
                      
                    </div>
                    <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                      
                      <div class="reassurance-img">
                        <img class=" lazyloading" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon3_small_9f29a5b1-c5a3-4a2f-acc7-56cdb5c06c5c.png?v=1626168325" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon3_small_9f29a5b1-c5a3-4a2f-acc7-56cdb5c06c5c.png?v=1626168325">
                      </div>
                      
                      
                      <div class="reassurance-text">
                        
                        <div class="reassurance-title">Customer Care</div>
                        
                        
                        <div class="reassurance-desc">Lorem Ipsum dummy</div>
                        
                      </div> 
                      
                    </div>
                    <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
                      
                      <div class="reassurance-img">
                        <img class=" lazyloading" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon4.png?v=1626168251" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon4.png?v=1626168251">
                      </div>
                      
                      
                      <div class="reassurance-text">
                        
                        <div class="reassurance-title">Gift Voucher</div>
                        
                        
                        <div class="reassurance-desc">Lorem Ipsum dummy</div>
                        
                      </div> 
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="trusted-img" style="margin-bottom: 20px;">
            <img class=" lazyloading" data-src="../../cdn.shopify.com/s/files/1/0285/6022/8445/files/trust3c47.png?v=1572958293" alt="Trusted Image" src="../../cdn.shopify.com/s/files/1/0285/6022/8445/files/trust3c47.png?v=1572958293">
            </div>
                
    <div class="share_this_btn" style="margin-bottom: 5px;">
                <div class="addthis_toolbox addthis_default_style addthis_25x25_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_preferred_5"></a>
    <a class="addthis_button_compact"></a>
    <!-- <a class="addthis_counter addthis_bubble_style"></a> -->
    </div>
    <script type="text/javascript">
    var addthis_product = 'sfy-2.0.2';
    var addthis_plugin_info = {"info_status":"enabled","cms_name":"Shopify","cms_version":null,"plugin_name":"AddThis Sharing Tool","plugin_version":"2.0.2","plugin_mode":"AddThis"};
    var addthis_config     = {/*AddThisShopify_config_begins*/pubid:'xa-525fbbd6215b4f1a', button_style:'style3', services_compact:'', ui_delay:0, ui_click:false, ui_language:'', data_track_clickback:true, data_ga_tracker:'', custom_services:'', custom_services_size:true/*AddThisShopify_config_ends*/};
    </script>
    <script type="text/javascript" src="../../s7.addthis.com/js/300/addthis_widget.js#pubid=xa-525fbbd6215b4f1a"></script>
              </div></div>
      </div>
    

</div>












































  <div id="ProductModal-template--14154848370781__main" class="product-media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="Media gallery" aria-modal="true" tabindex="-1">
      <button id="ModalClose-template--14154848370781__main" type="button" class="product-media-modal__toggle" aria-label="Close">
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
      <symbol id="close" viewBox="0 0 16 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path>
      </symbol> 
	</svg>
	<svg class="icon" viewBox="0 0 50 50"><use xlink:href="#close" x="0%" y="0%"></use></svg>



</button>

      <div class="product-media-modal__content" role="document" aria-label="Media gallery" tabindex="0"></div>
    </div>
  </div>

  
<div id="PopupModal-wishlist_sizechart" class="product-popup-modal toggle-dropdown" >
      <div role="dialog" aria-label="Sizechart" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-wishlist_sizechart" type="button" class="product-popup-modal__toggle" aria-label="Close">
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
      <symbol id="close" viewBox="0 0 16 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path>
      </symbol> 
	</svg>
	<svg class="icon" viewBox="0 0 50 50"><use xlink:href="#close" x="0%" y="0%"></use></svg>



</button>
        <div class="product-popup-modal__content-info">
          <div class="wishlist_sizechart">
<div class="modal-img col-md-12 col-lg-6"><img src="../../cdn.shopify.com/s/files/1/0054/0567/1479/files/sizechart2687.png?v=1604665385" data-widths="[480]"></div>
<div class="modal-text col-md-12 col-lg-6">
<div class="custom_size_chart_des">
<h4>Measurement Term Definitions</h4>
<div class="custom-text-right-table">
<table class="table">
<thead class="thead-light">
<tr>
<th scope="col">Size</th>
<th scope="col">Chest</th>
<th scope="col">Brand Size</th>
<th scope="col">Shoulder</th>
<th scope="col">Length</th>
<th scope="col">Sleeve Length</th>
</tr>
</thead>
<tbody>
<tr>
<td>38</td>
<td>40.2</td>
<td>38</td>
<td>17.9</td>
<td>29.9</td>
<td>24</td>
</tr>
<tr>
<td>39</td>
<td>41.3</td>
<td>39</td>
<td>18.2</td>
<td>30.1</td>
<td>24.5</td>
</tr>
<tr>
<td>40</td>
<td>42.5</td>
<td>40</td>
<td>18.5</td>
<td>30.3</td>
<td>25</td>
</tr>
<tr>
<td>42</td>
<td>44.9</td>
<td>42</td>
<td>19.1</td>
<td>30.7</td>
<td>25.5</td>
</tr>
<tr>
<td>44</td>
<td>47.2</td>
<td>44</td>
<td>19.7</td>
<td>31.1</td>
<td>26</td>
</tr>
<tr>
<td>46</td>
<td>49.6</td>
<td>46</td>
<td>20.3</td>
<td>31.5</td>
<td>26.5</td>
</tr>
</tbody>
</table>
</div>
<div class="custom-text-right">
<p><strong>Effective Top Tube Length:</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
<p><strong>Seat Tube Length:</strong> dummy text of the printing and typesetting industry when an unknown printer took a galley of type and scrambled but also the leap into electronic typesetting, remaining essentially unchanged.</p>
<p><strong>Head Tube Length:</strong> Ipsum passages and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
<p><strong>Head Angle:</strong> Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p><strong>Fork Rake (rake):</strong> It has survived not only five centuries popularised of Letraset sheets containing and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
<p><strong>Stand Over Height:</strong> galley of type and scrambled it to make a type specimen book. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
</div>
</div>
</div>
</div>
        </div>
      </div>
    </div>






</section>






<section id="shopify-section-template--14154848370781__product-tab" class="shopify-section">
<div class="page-width">
   <div class="row">
  <div class="ishi-product-tab">
    <ul class="ishi-tabs nav ishi-nav-tabs tab-id">
      
      
<li class=" active  ishi-tab-item "><a class="ishi-nav-link" data-href="#tab-1">Description</a></li>
      
<li class=" ishi-tab-item"><a class="ishi-nav-link review-tab" data-href="#tab-2">Reviews</a></li>
      
      

      
      <li class=" ishi-tab-item"><a class="ishi-nav-link" data-href="#tab-3">Shipping & Returns</a></li>
      

      

      
      <li class=" ishi-tab-item"><a class="ishi-nav-link" data-href="#tab-4">Custom Tab1</a></li>
      
      
      
    </ul>
    <div class="ishi-tab-content">
      
      
<div id="tab-1" class=" active  ishi-tab-pane ishi-fade">
        <p>Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!</p>
<h4>Sample Unordered List</h4>
<ul>
<li>Comodous in tempor ullamcorper miaculis</li>
<li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
<li>Divamus sit amet purus justo.</li>
<li>Proin molestie egestas orci ac suscipit risus posuere loremou.</li>
</ul>
<h4>Sample Ordered Lista</h4>
<ol>
<li>Comodous in tempor ullamcorper miaculis</li>
<li>Pellentesque vitae neque mollis urna mattis laoreet.</li>
<li>Divamus sit amet purus justo.</li>
<li>Proin molestie egestas orci ac suscipit risus posuere loremous.</li>
</ol>
<h4>Sample Paragraph Text</h4>
<blockquote>
<p>Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summer!Faded short sleeves t-shirt with high neckline. Soft and stretchy material for a comfortable fit. Accessorize with a straw hat and you're ready for summe!</p>
</blockquote>
      </div>
      
      

      <div id="tab-2" class=" ishi-tab-pane ishi-fade">
        <div id="shopify-product-reviews" data-id="4348938584157"><style scoped>.spr-container {
    padding: 24px;
    border-color: #ECECEC;}
  .spr-review, .spr-form {
    border-color: #ECECEC;
  }
</style>

<div class="spr-container">
  <div class="spr-header">
    <h2 class="spr-header-title">Customer Reviews</h2><div class="spr-summary">
        <span class="spr-summary-caption">No reviews yet</span><span class="spr-summary-actions">
        <a href='#' class='spr-summary-actions-newreview' onclick='SPR.toggleForm(4348938584157);return false'>Write a review</a>
      </span>
    </div>
  </div>

  <div class="spr-content">
    <div class='spr-form' id='form_4348938584157' style='display: none'></div>
    <div class='spr-reviews' id='reviews_4348938584157' style='display: none'></div>
  </div>

</div>
</div>
      </div>
      
      

      
      <div id="tab-3" class=" ishi-tab-pane ishi-fade">
        <h4>Returns Policy</h4>
<p>You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).</p>
<p>You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).</p>
<p>If you need to return an item, simply login to your account, view the order using the 'Complete Orders' link under the My Account menu and click the Return Item button. We'll notify you via e-mail of your refund once we've received and processed the returned item.</p>
<h4>Shipping</h4>
<p>We can ship to virtually any address in the world. Note that there are restrictions on some products, and some products cannot be shipped to international destinations.</p>
<p>When you place an order, we will estimate shipping and delivery dates for you based on the availability of your items and the shipping options you choose. Depending on the shipping provider you choose, shipping date estimates may appear on the shipping quotes page.</p>
<p>Please also note that the shipping rates for many items we sell are weight-based. The weight of any such item can be found on its detail page. To reflect the policies of the shipping companies we use, all weights will be rounded up to the next full pound.</p>
      </div>
      

      

      
      <div id="tab-4" class=" ishi-tab-pane ishi-fade">
        This is a custom product tab. You can set different content for tabs for each product. You can add content of the tabs in the admin on product configuration page.
      </div>
      
      
      
    </div>
  </div>
   </div>
</div>




</section>


<section id="shopify-section-template--14154848370781__div" class="shopify-section spaced-section div">

<div class="div collection" data-url="/recommendations/products?section_id=template--14154848370781__div&product_id=4348938584157&limit=4">
  
</div>




</section>
          </div>
          
    </main>
