<app-header></app-header>



<div class="wrapper-nav hidden-lg-down">
  <div class="navfullwidth">
    <div class="page-width">
      <div id="shopify-section-Ishi_megamenu" class="shopify-section"><div data-section-id="Ishi_megamenu" data-section-type="megamenu-header">
<div id="_desktop_top_menu" class="menu js-top-menu hidden-sm-down" role="navigation">
  
  <ul class="top-menu" id="top-menu">
    
    
    <li class="category">
      
      <span class="float-xs-right hidden-lg-up">
       
       <span data-href="#_n_child-one1" data-toggle="collapse" class="ishi-collapse in navbar-toggler ishi-collapsed rotate" aria-expanded="false">
        
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
  <symbol id="caret" viewBox="0 0 10 6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
  </symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>




      </span>
      
    </span>
    <a routerLink="/home" class="dropdown-item">
      <h3 class="title">Home</h3>
      
      <span class="new"> NEW</span>
      
      
      
    </a>

    
    


</li>


<li class="category">
      
  <span class="float-xs-right hidden-lg-up">
   
   <span data-href="#_n_child-one1" data-toggle="collapse" class="ishi-collapse in navbar-toggler ishi-collapsed rotate" aria-expanded="false">
    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
<symbol id="caret" viewBox="0 0 10 6">
<path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
</symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>




  </span>
  
</span>
<a routerLink="/products" class="dropdown-item">
  <h3 class="title">Products</h3>
  
  <span class="new"> NEW</span>
  
  
  
</a>





</li>










    <li class="category">
      
      <span class="float-xs-right hidden-lg-up">
       
       <span data-href="#_n_child-one2" data-toggle="collapse" class="ishi-collapse in navbar-toggler ishi-collapsed rotate" aria-expanded="false">
        
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
  <symbol id="caret" viewBox="0 0 10 6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
  </symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>




      </span>
      
    </span>



</li>


    <li class="category">
      
      <span class="float-xs-right hidden-lg-up">
       
       <span data-href="#_n_child-one4" data-toggle="collapse" class="ishi-collapse in navbar-toggler ishi-collapsed rotate" aria-expanded="false">
        
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
  <symbol id="caret" viewBox="0 0 10 6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
  </symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>




      </span>
      
    </span>
    <a routerLink="/annonces" class="dropdown-item">
      <h3 class="title">Annonces</h3>
      
      
      
    </a>

</li>

    <li class="category">
      
      <span class="float-xs-right hidden-lg-up">
       
       <span data-href="#_n_child-one5" data-toggle="collapse" class="ishi-collapse in navbar-toggler ishi-collapsed rotate" aria-expanded="false">
        
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
  <symbol id="caret" viewBox="0 0 10 6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
  </symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>




      </span>
      
    </span>



</li>

    <li class="category">
      
      <span class="float-xs-right hidden-lg-up">
       
    </span>
    <a href="../pages/about-us.html" class="dropdown-item">
      <h3 class="title">About us</h3>
      
      <span class="new"> NEW</span>
      
      
      
    </a>

    
    

</li>

    <li class="category">
      
      <span class="float-xs-right hidden-lg-up">
       
    </span>
    <a routerLink="/conseils" class="dropdown-item">
      <h3 class="title">Conseils</h3>
      
      
      
      <span class="hot">HOT</span>
      
    </a>

    
    

</li>


</ul>
</div>
</div>







</div>
    </div>
  </div> 
</div>



<!--content-->
<router-outlet></router-outlet>

<app-footer></app-footer>
