<div class="wrapper-nav hidden-lg-down">
    <div class="navfullwidth">
      <div class="page-width">
        <div id="shopify-section-Ishi_megamenu" class="shopify-section"><div data-section-id="Ishi_megamenu" data-section-type="megamenu-header">
  <div id="_desktop_top_menu" class="menu js-top-menu hidden-sm-down" role="navigation">
    

</div>
</div>







</div>
      </div>
    </div> 
  </div>










  <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      
      
          
    <div class="normal_main_content page-width">
      
      <h1 class="page-title center">
        Your Shopping Cart
      </h1>

      
      <div id="shopify-section-template--14154848043101__cart-items" class="shopify-section">
          <div class="page-width">
<div class="cart__warnings">
<h2 class="cart__empty-text">Your cart is empty</h2>
<a href="/collections/all" class="btn">
Continue Shopping
</a>
</div>

<form action="/cart" class="cart__contents critical-hidden" method="post" id="cart">
<div class="cart__items" id="main-cart-items" data-id="template--14154848043101__cart-items">
<div class="js-contents"><table class="cart-items">
      <thead class="cart__header">
        <tr>
          <th class="product-info" colspan="2" scope="col">Product</th>
          <th class="product-price" scope="col">Price</th>
          <th class="product-quantity hidden-sm-down" scope="col">Quantity</th>
          <th class="total-product hidden-sm-down" scope="col">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr class="cart-item" id="CartItem-1"  *ngFor="let item of panier?.items;" >
            <td class="cart__image-wrapper cart-flex-item">
              
                <img class="cart-item__image lazyloaded" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_150x.jpg?v=1633770324" alt="" loading="lazy" width="120" src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_150x.jpg?v=1633770324">
              
            </td>

            <td class="cart__meta  cart-flex-item"><a href="/products/butter-loremou" class="cart-item__name break">{{item.produit}}</a><dl></dl><ul class="discounts list-unstyled" role="list" aria-label="Discount"></ul>

              <p class="cart-item__error" id="Line-item-error-1">
                <span class="cart-item__error-text"></span>
                
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="error" viewBox="0 0 13 13">
    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"></path>
  </symbol>
</svg>
<svg class="icon icon-error" viewBox="0 0 13 13"><use xlink:href="#error" x="0%" y="0%"></use></svg>




              </p>
            </td>

            <td class="cart__price-wrapper cart-flex-item product-price">
              <div class="cart-item__price-wrapper"><span class="price price--center">
                    $30.00
                  </span></div>
              <div class="cart__edit hidden-sm-up">
                <button type="button" class="btn btn--secondary btn--small js-edit-toggle cart__edit--active" data-target="line1">
                  <span class="cart__edit-text--edit"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                  <span class="cart__edit-text--cancel"><i class="fa fa-times" aria-hidden="true"></i></span>
                </button>
              </div>
            </td>

            <td class="cart__update-wrapper cart-flex-item product-quantity">
              <label class="medium-down" for="Quantity-1">
                Quantity
              </label>
              <div class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">Decrease quantity for Butter Loremou</span>
                  <span class="hidden-sm-down">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="minus" viewBox="0 0 10 2">
   <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor"></path>
  </symbol>
</svg>
<svg class="icon" viewBox="0 0 20 20"><use xlink:href="#minus" x="0%" y="0%"></use></svg>



</span>
                  <span class="hidden-sm-up">-</span>
                </button>
                <input class="quantity__input" type="number" name="updates[]" value={{item.quantity}} min="0" aria-label="Quantity for Butter Loremou" id="Quantity-1" data-index="1 ">
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">Increase quantity for Butter Loremou</span>
                  <span class="hidden-sm-down">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="plus" viewBox="0 0 10 10">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z" fill="currentColor"></path>
  </symbol>
</svg>
<svg class="icon" viewBox="0 0 20 20"><use xlink:href="#plus" x="0%" y="0%"></use></svg>



</span>
                  <span class="hidden-sm-up">+</span>
                </button>
            </div>
            </td>

            <td class="small--hide total-product">
              <div class="loading-overlay hidden">
                <div class="loading-overlay__spinner">
                  <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>

              <div class="cart-item__price-wrapper small-hide"><span class="price price--center">
                    $30.00
                  </span></div>
              <div id="Remove-1" data-index="1">
                  <a href="/cart/change?id=31141577818205:1d0973b37cbd66698072878a920d8aff&amp;quantity=0" class="remove" aria-label="Remove Butter Loremou">
                    
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
<symbol id="remove" viewBox="0 0 16 16">
  <path d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z" fill="currentColor"></path>
<path d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z" fill="currentColor"></path>
</symbol> 
</svg>
<svg class="icon icon-remove" viewBox="0 0 50 50"><use xlink:href="#remove" x="0%" y="0%"></use></svg>




                  </a>
                </div>
            </td>
          </tr></tbody>
    </table>
    <div class="totals">
      <h3 class="totals__subtotal">Subtotal</h3>
      <p class="totals__subtotal-value">{{panier?.totalPrice}} DT</p>
    </div></div>
</div>

<p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
<p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">Loading...</p>
</form>
</div>

<script src="//cdn.shopify.com/s/files/1/0285/6022/8445/t/5/assets/cart.js?v=12103845207229036764" defer="defer"></script>


</div><div id="shopify-section-template--14154848043101__cart-footer" class="shopify-section cart__footer-wrapper spaced-section">
<div class="page-width" id="main-cart-footer" data-id="template--14154848043101__cart-footer">
<div class="row cart__footer">
<div class="cart_reassurance col-lg-8 col-md-6">
  
  <div class="reassurance-block">
<div class="reassurance-content row">
  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
    
    <div class="reassurance-img">
      <img class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon111.png?v=1626168202" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon111.png?v=1626168202">
    </div>
    
    
    <div class="reassurance-text">
      
      <div class="reassurance-title">Free Delivery</div>
       
      
      <div class="reassurance-desc">Lorem Ipsum dummy</div>
      
    </div> 
    
  </div>
  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
    
    <div class="reassurance-img">
      <img class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon2.png?v=1626168236" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon2.png?v=1626168236">
    </div>
    
    
    <div class="reassurance-text">
      
      <div class="reassurance-title">Big Savings</div>
      
      
      <div class="reassurance-desc">Lorem Ipsum dummy</div>
      
    </div> 
    
  </div>
  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
    
    <div class="reassurance-img">
     <img class=" lazyloaded" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon3_small_9f29a5b1-c5a3-4a2f-acc7-56cdb5c06c5c.png?v=1626168325" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon3_small_9f29a5b1-c5a3-4a2f-acc7-56cdb5c06c5c.png?v=1626168325">
    </div>
    
    
    <div class="reassurance-text">
      
      <div class="reassurance-title">Customer Care</div>
      
      
      <div class="reassurance-desc">Lorem Ipsum dummy</div>
      
    </div> 
    
  </div>
  <div class="reassurance col-lg-6 col-md-12 col-sm-6 col-xs-12">
    
    <div class="reassurance-img">
      <img class=" lazyloaded" data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon4.png?v=1626168251" alt="Reassurance Image" src="//cdn.shopify.com/s/files/1/0285/6022/8445/files/serviceicon4.png?v=1626168251">
    </div>
    
    
    <div class="reassurance-text">
      
      <div class="reassurance-title">Gift Voucher</div>
      
      
      <div class="reassurance-desc">Lorem Ipsum dummy</div>
      
    </div> 
    
  </div>
</div>
</div>
  
</div>
<div class="cart__blocks col-lg-4 col-md-6"><div class="cart__note field">
      <label for="Cart-note">Special Instructions</label>
      <textarea class="text-area text-area--resize-vertical field__input" name="note" id="Cart-note" placeholder="Special Instructions"></textarea>
</div>
<div class="js-contents"><small class="tax-note caption-large rte">Taxes and shipping calculated at checkout
</small>
        </div>
<div class="cart__ctas">
          <noscript>
            <button type="submit" class="cart__update-button button button--secondary" form="cart">
              Update
            </button>
          </noscript>

          <button type="submit" class="cart__checkout-button button" name="checkout" form="cart">
            Checkout
          </button>
            <a href="/collections/all" class="underlined-link">Continue Shopping</a>
        </div>

  <div id="cart-errors"></div>
</div>
</div>
</div>




</div><section id="shopify-section-template--14154848043101__collection-list" class="shopify-section collection-list-section">
<div class="collection-list-wrapper page-width">
<div class="row">

<div class="section-header center">
  
  <h2 class="title">TRENDING COLLECTIONS</h2>
  
</div>




<div class="slider-mobile-gutter">
<ul class="collection-list grid collection-width-4  slider slider--tablet grid--peek  negative-margin--small" id="Slider-template--14154848043101__collection-list" role="list"><li class="collection-list__item grid__item col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 slider__slide">
    <a href="/collections/cat" class="card">
      
      
<div class="collection-grid-item">


  <div class="collection-grid-item__overlay media media--square">
    <img srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_165x.jpg?v=1633770324 165w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_330x.jpg?v=1633770324 330w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_535x.jpg?v=1633770324 535w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_720x.jpg?v=1633770324 720w," data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_533x.jpg?v=1633770324" sizes="(min-width: 1100px)535px, (min-width: 750px) calc((100vw - 10rem) / 2), calc(100vw - 3rem)" alt="Cat" height="1000" width="771" loading="lazy" class="motion-reduce ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/2_9e96b207-92a2-40c1-928a-b97942c509f5_533x.jpg?v=1633770324">
    
      <div class="collection-item">16 Item</div>
    
  </div>
<div class="collection-grid-item__title-wrapper">
<h3 class="collection-grid-item__title">Cat</h3>
<span class="btn">
  SHOP THE COLLECTION
</span>
</div>
</div>
    </a>
  </li><li class="collection-list__item grid__item col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 slider__slide">
    <a href="/collections/dog" class="card">
      
      
<div class="collection-grid-item">


  <div class="collection-grid-item__overlay media media--square">
    <img srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/18_99fcf348-8175-40c9-b437-e05f8c3683a8_165x.jpg?v=1633770833 165w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/18_99fcf348-8175-40c9-b437-e05f8c3683a8_330x.jpg?v=1633770833 330w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/18_99fcf348-8175-40c9-b437-e05f8c3683a8_535x.jpg?v=1633770833 535w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/18_99fcf348-8175-40c9-b437-e05f8c3683a8_720x.jpg?v=1633770833 720w," data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/18_99fcf348-8175-40c9-b437-e05f8c3683a8_533x.jpg?v=1633770833" sizes="(min-width: 1100px)535px, (min-width: 750px) calc((100vw - 10rem) / 2), calc(100vw - 3rem)" alt="Dog" height="1000" width="771" loading="lazy" class="motion-reduce ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/18_99fcf348-8175-40c9-b437-e05f8c3683a8_533x.jpg?v=1633770833">
    
      <div class="collection-item">12 Item</div>
    
  </div>
<div class="collection-grid-item__title-wrapper">
<h3 class="collection-grid-item__title">Dog</h3>
<span class="btn">
  SHOP THE COLLECTION
</span>
</div>
</div>
    </a>
  </li><li class="collection-list__item grid__item col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 slider__slide">
    <a href="/collections/new-pets" class="card">
      
      
<div class="collection-grid-item">


  <div class="collection-grid-item__overlay media media--square">
    <img srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/13_cde08c3b-cd73-4959-b796-49e2dc5308db_165x.jpg?v=1633770716 165w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/13_cde08c3b-cd73-4959-b796-49e2dc5308db_330x.jpg?v=1633770716 330w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/13_cde08c3b-cd73-4959-b796-49e2dc5308db_535x.jpg?v=1633770716 535w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/13_cde08c3b-cd73-4959-b796-49e2dc5308db_720x.jpg?v=1633770716 720w," data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/13_cde08c3b-cd73-4959-b796-49e2dc5308db_533x.jpg?v=1633770716" sizes="(min-width: 1100px)535px, (min-width: 750px) calc((100vw - 10rem) / 2), calc(100vw - 3rem)" alt="New Pets" height="1000" width="771" loading="lazy" class="motion-reduce ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/13_cde08c3b-cd73-4959-b796-49e2dc5308db_533x.jpg?v=1633770716">
    
      <div class="collection-item">20 Item</div>
    
  </div>
<div class="collection-grid-item__title-wrapper">
<h3 class="collection-grid-item__title">New Pets</h3>
<span class="btn">
  SHOP THE COLLECTION
</span>
</div>
</div>
    </a>
  </li><li class="collection-list__item grid__item col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 slider__slide">
    <a href="/collections/fish" class="card">
      
      
<div class="collection-grid-item">


  <div class="collection-grid-item__overlay media media--square">
    <img srcset="//cdn.shopify.com/s/files/1/0285/6022/8445/products/19_2fc82582-aa25-4b49-b23d-84fb36ba6c88_165x.jpg?v=1633770857 165w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/19_2fc82582-aa25-4b49-b23d-84fb36ba6c88_330x.jpg?v=1633770857 330w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/19_2fc82582-aa25-4b49-b23d-84fb36ba6c88_535x.jpg?v=1633770857 535w,//cdn.shopify.com/s/files/1/0285/6022/8445/products/19_2fc82582-aa25-4b49-b23d-84fb36ba6c88_720x.jpg?v=1633770857 720w," data-src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/19_2fc82582-aa25-4b49-b23d-84fb36ba6c88_533x.jpg?v=1633770857" sizes="(min-width: 1100px)535px, (min-width: 750px) calc((100vw - 10rem) / 2), calc(100vw - 3rem)" alt="Fish" height="1000" width="771" loading="lazy" class="motion-reduce ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0285/6022/8445/products/19_2fc82582-aa25-4b49-b23d-84fb36ba6c88_533x.jpg?v=1633770857">
    
      <div class="collection-item">13 Item</div>
    
  </div>
<div class="collection-grid-item__title-wrapper">
<h3 class="collection-grid-item__title">Fish</h3>
<span class="btn">
  SHOP THE COLLECTION
</span>
</div>
</div>
    </a>
  </li></ul><div class="slider-buttons no-js-hidden">
  <div class="slider-counter caption">
    <span class="slider-counter--current">1</span>
      <span aria-hidden="true"> / </span>
      <span class="visually-hidden">of</span>
    <span class="slider-counter--total">1</span>
  </div>
  <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="Slide left" disabled="true">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
<symbol id="caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
</symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>



</button>
  <button type="button" class="slider-button slider-button--next" name="next" aria-label="Slide right" disabled="true">
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">          
<symbol id="caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor"></path>
</symbol> 
</svg>
<svg class="icon icon-caret" viewBox="0 0 10 6"><use xlink:href="#caret" x="0%" y="0%"></use></svg>



</button>
</div></div></div>
</div>

<style type="text/css">
#shopify-section-template--14154848043101__collection-list {
margin-bottom: 70px;
}
@media (max-width: 767px) {
#shopify-section-template--14154848043101__collection-list {
margin-bottom: 30px;
}
}
</style>


</section>
    </div>
    
</main> 